:root {
  --main-color: #8f95a5;
  --secondary-color: #000000;
  --accent-color: #263238;
  --background-color: #ffffff;
}

h1,
h2,
h3,
p {
  margin-bottom: 0;
  margin-top: 0;
}

ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: transparent;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  color: var(--main-color);
  background-color: var(--background-color);
  font-family: Poppins, sans-serif;
  font-weight: 400;
  line-height: 1.5;
}

/* Container */

.container {
  width: 1378px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

/* Header */

.page-header {
  margin-bottom: 55px;
}

.main-nav {
  display: flex;
  align-items: center;
  margin-top: 55px;
}

/* Logo */

.logo {
  margin-right: 179px;

  color: #939393;
  font-size: 36px;
  display: flex;
  align-items: center;
}
.logo-part {
  color: var(--secondary-color);
}

/* Navigation */

.nav-list {
  display: flex;
}

.nav-list .link {
  font-weight: 500;
  font-size: 20px;
  color: var(--accent-color);
}

.nav-list .link:hover,
.nav-list .link:focus {
  color: var(--accent-color);
}

.nav-item {
  padding-top: 20px;
  padding-bottom: 20px;
}

.nav-item:not(:last-child) {
  margin-right: 50px;
}

.header-button {
  margin-left: auto;
  padding: 20px 56px;
  width: 312px;
  height: 70px;
  top: 55px;
  border: 2px solid var(--accent-color);
  border-radius: 10px;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  background-color: var(--background-color);
}

/* Hero */

.hero-content {
  display: flex;
  align-items: center;
}

.hero-side {
  margin-right: 144px;
}

.hero .title {
  font-weight: 600;
  font-size: 64px;
  line-height: 1.25;
  color: var(--secondary-color);
  margin-bottom: 40px;
}

.hero .text {
  width: 540px;
  font-size: 24px;
  margin-bottom: 60px;
}

.hero-button {
  font-size: 36px;
  line-height: 54px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #ffffff;
  background: #263238;
  border-radius: 10px;
  padding: 23px 64px;
}

/* Skills */

.section {
  margin-bottom: 180px;
}

.skills-title,
.contacts-title,
.about-title,
.pricing-title {
  font-weight: 600;
  font-size: 48px;
  color: var(--secondary-color);
}

.skills-title {
  margin-bottom: 60px;
  text-align: center;
}

.skills-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.fourth {
  display: flex;
}

.first, .second, .third {
  width: 426px;
}

.first {
  height: 947px;
}

.second, .third {
  height: 579px;
}

.fourth {
  width: 882px;
  height: 338px;
}

.skills-item {
  background-color: #F5F5F5;
  border-radius: 10px;
  padding-left: 18px;
  
}

.skills-titles {
  font-weight: 600;
  font-size: 30px;
  color: var(--accent-color);
  margin-top: 24px;
}

.skills-text {
  font-size: 16px;
  margin-bottom: 30px;
}

.first-text {
  width: 347px;
}

.second-text {
  width: 340px;
}

.third-text {
  width: 359px;
}

.fourth-text {
  width: 324px;
}

.skills-button {
  background: var(--accent-color);
  border-radius: 10px;
  font-weight: 500;
  font-size: 18px;
  color: #ffffff;
  padding: 15px 52px;
}

.skills-img {
  margin-left: auto;
  
}

/* About */

.main-about {
  display: flex;
  align-items: center;
}

.about-list {
  display: flex;
  align-items: center;
  justify-content:center;
}

.about-item:not(:last-child) {
  margin-right: 131px;

}

.about-title {
  margin-bottom: 60px;
}

.about-text {
  font-size: 20px;
  line-height: 1.8;
  margin-bottom: 30px;
  width: 652px;
}

.numbers {
  font-weight: 600;
  font-size: 48px;
  color: #2a3246;
  text-align: center;
}

.numbers-text {
  font-size: 20px;
  text-align: center;
}

.about-img {
  margin-left: auto;
}

/* Pricing */

.pricing-title {
  text-align: center;
  margin-bottom: 60px;
}

.pricing-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
}

/* .pricing-item {
  flex-basis: calc(100% / 3 - 60px);
} */

.pricing-item {
  width: 426px;
}

.pricing-titles {
  font-weight: 600;
  font-size: 30px;
  line-height: 1.6;
  text-transform: capitalize;
  color: var(--accent-color);
  margin-top: 31px;
  margin-bottom: 20px;
}

.pricing-text-first {
  font-size: 20px;
  margin-bottom: 30px;
}

.pricing-text-second {
  font-size: 20px;
  margin-bottom: 57px;
}

.pricing-text-third {
  font-size: 20px;
  margin-bottom: 60px;
}

.price-content {
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;

  width: 260px;
  background: #eeeeee;
  border-radius: 5px;
}

.price {
  font-size: 24px;
  color: var(--accent-color);
}

.month {
  font-size: 18px;
  color: #546269;
}

/* Contacts */

.main-contacts {
  display: flex;
  
}

.contacts-title {
  margin-bottom: 60px;
}

.contacts {
  margin-bottom: 55px;
}

.contacts-content {
  margin-left: 144px;
}

.contacts-text {
  font-size: 20px;
  width: 654px;
}

/* Footer */

.main-footer {
  display: flex;
  align-items: center;
  border-top: 2px solid #c4c4c4;
}

.footer .logo {
  padding-top: 22px;
  padding-bottom: 77px;
}

.footer-list {
  display: flex;
  margin-left: auto;
  padding-bottom: 86px;
  padding-top: 31px;

  font-size: 24px;
  letter-spacing: 0.02em;
}

.footer-item:not(:last-child) {
  margin-right: 80px;
}
